.nav {
  --bs-nav-tabs-border-width: 0;
  --bs-nav-tabs-link-active-color: var(--bs-dark);
  --bs-nav-link-color: var(--bs-secondary);
  --bs-nav-link-disabled-color: rgba(var(--bs-secondary-rgb), 0.5);
  --bs-nav-link-padding-x: 0;
  --bs-nav-link-padding-y: 0;
  border: none;
}

.nav-link {
  position: relative;
}

.nav-link::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 1px;
  transition: 0.2s;
  background-color: var(--bs-dark);
}

.nav-link:hover::before {
  left: 0;
  width: 100%;
}

.nav-link.active::before, .nav-link.show::before {
  left: 0;
  width: 100%; 
}