.mt-10 {
  margin-top: 10rem;
}

.mb-10 {
  margin-bottom: 10rem;
}

.ms-10 {
  margin-left: 10rem;
}

.me-10 {
  margin-right: 10rem;
}

.my-10 {
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.mx-10 {
  margin-left: 10rem;
  margin-right: 10rem;
}